<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DataProviderSuite" parallel="false">
    <test name="ContactUsTest">
        <classes>
            <class name="com.qamentor.test.ContactUsTest"/>
        </classes>
    </test>

    <test name="HomePageTest">
        <classes>
            <class name="com.qamentor.test.HomePageTest"/>
        </classes>
    </test>
</suite>